{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", {ref, "d9689e6e80cd8a437bc207d37cb53290ecd64b35"}}},
    {gproc, "0.8.0"},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.1"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
    {em, "7.2.2"}
]}.

{relx, [
    {release, {flack, "1.0.2"}, [
        gen_leader,
        gproc,
        jiffy,
        ranch,
        cowlib,
        cowboy,
        flack,
        sasl
    ]},

    {sys_config, "./config/sys.config"},

    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [{relx, [
        {dev_mode, false},
        {include_erts, true}
    ]}]}
]}.
