
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    background-color: #FFFFFF;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.hidden {
    display: none;
}

.room-list-container, .content {
    height: 100%;
    overflow: auto;
}

.room-list-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    background: grey;
}

.room-list-container .title {
    padding: 10px;
    user-select: none;
}

.room-list-container .list {
    width: 100%;
}

.room-list-container .list-item {
    width: 200;
    padding: 10px;
}

.room-list-container input {
    width: 150px;
}

.room-list-container .username {
    user-select: none;
    padding-left: 10px;
}

.flack-button {
	background-color: white;
	border-radius: 4px;
	border: 1px solid gainsboro;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 10px;
	padding: 4px 14px;
	text-decoration: none;
}
.flack-button:hover {
	background-color: #F6F6F6;
}
.flack-button:active {
	position: relative;
	top: 1px;
}

.room-list-container button {
    float: right;
}

.room-list-container .list-item.room {
    padding-left: 20px;
    user-select: none;
}
.room-list-container .list-item.room.active {
    background-color: lightgrey;
}
.room-list-container .list-item.room:hover {
    background-color: darkgrey;
    cursor: pointer;
}
.room-list-container .list-item.room.active:hover {
    background-color: lightgrey;
}

.content {
    width: calc(100% - 250px);
    height: calc(100% - 61px);
    position: fixed;
    top: 0px;
    left: 250px;
}

.content-messages {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.content-messages.hidden {
    display: none;
}

.content-messages .message {
    margin: 5px 30px 5px 30px;
}

.content-messages .message .timestamp {
    display: inline-block;
    width: 100px;
}

.content-messages .message p {
    display: inline-block;
    margin: 0px;
}

.content-messages .message p .username {
    font-weight: bold;
}

.chatbox {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 250px;
    height: 60px;
    width: calc(100% - 250px);
    border-top: 1px solid lightgrey;
}

.chatbox .chat-entry {
    width: calc(100% - 20px);
    height: 40px;
    border: 3px solid darkgrey;
    border-radius: 15px;
    margin: 7px 10px 7px 10px;
}

.chatbox .chat-entry input {
    width: calc(100% - 120px);
    margin: 8px 10px 8px 10px;
    padding: 3px;
}

.chat-entry button {
    border-radius: 4px;
    float: right;
    margin: 10px;
}

