
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    background-color: #FFFFFF;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.hidden {
    display: none;
}

.room-list-container, .content {
    height: 100%;
    overflow: auto;
}

.room-list-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    background: grey;
}

.room-list-container .title {
    padding: 10px;
    user-select: none;
}

.room-list-container .list {
    width: 100%;
}

.room-list-container .list-item {
    width: 200;
    padding: 10px;
}

.room-list-container .username {
    user-select: none;
    padding-left: 10px;
}

.room-list-container button {
    border-radius: 4px;
    float: right;
}

.room-list-container .list-item.room {
    padding-left: 20px;
    user-select: none;
}
.root-list-container .list-item.room.selected {
    background-color: black;
    font-weight: bold;
}
.room-list-container .list-item.room:hover {
    background-color: darkgrey;
    cursor: pointer;
}
.root-list-container .list-item.room.selected:hover {
    background-color: grey;
}

.content {
    width: calc(100% - 250px);
    height: calc(100% - 61px);
    position: fixed;
    top: 0px;
    left: 250px;
}

.content-messages {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.content-messages p {
    margin: 5px 30px 5px 30px;
}

.chatbox {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 250px;
    height: 60px;
    width: calc(100% - 250px);
    border-top: 1px solid lightgrey;
}

.chatbox .chat-entry {
    width: calc(100% - 20px);
    height: 40px;
    border: 3px solid lightgrey;
    border-radius: 15px;
    margin: 7px 10px 7px 10px;
}

.chatbox .chat-entry input {
    width: calc(100% - 100px);
    margin: 8px 10px 8px 10px;
    padding: 3px;
}

.chat-entry button {
    border-radius: 4px;
    float: right;
    margin: 10px;
}

